body {
  background-color: #eaecef;
}

.bg-cont {
  margin-top: 20px;
  min-height: 700px;
}

.fot1 {}

.fot2 {
  margin-top: 30px;
  margin-bottom: 30px;
  maring-left: 60;
  margin-right: 60;
}

.iconmargin {
  margin-left: 10px;
  margin-right: 10px;
}

.fontnav {
  color: #494e54;
}

.img-prod {
  border: 3px;
  margin-top: 20px;
}

.rowdesc-margin {
  margin-top: 30px;
}

.fabutton {
  background: none;
  padding: 0px;
  border: none;
}

.td-prod {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pmax {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
