body {
}

.bg-cont {
  margin-top: 20px;
  min-height: 700px;
}

.background{
	/* background-color: #6D6A75; */
}
.imcentered {
  margin: 0px auto;
}

.fot2 {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
  /*  */
}

.iconmargin {
  margin-left: 10px;
  margin-right: 10px;
}

.fontnav {
  color: #494e54;
}

.img-prod {
  border: 3px;
  margin-top: 20px;
}

.rowdesc-margin {
  margin-top: 30px;
}

.fabutton {
  background: none;
  padding: 0px;
  border: none;
}

.td-prod {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pmax {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.indeximg {

background:url(../images/index.jpg) top left/cover no-repeat;

}
